@import url("https://fontlibrary.org/face/hanken");
body {
  background-color: #00339A;
  position: static;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'HankenBook';
  font-weight: normal;
  font-style: normal;
}

.aboutme {
  align-content: center;
  text-shadow: 0 0 7px #FFFFFF;
  color: #fff;
  padding-bottom: 0px;
  padding-top: 20px;
  font-size: 45px;
}

.games {
  position: absolute;
  top: 50%;
  left: 50%;
  webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 7px #FFFFFF;
}

.game {
  color: #fff;
  padding-bottom: 0px;
  padding-top: 20px;
  font-size: 45px;
}

.button {
  background-color: #00d2db;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 100%;
  transition: all 0.1s;
  cursor: pointer;
  font-family: 'HankenBook';
  font-weight: normal;
  font-style: normal;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}

.button {
  display: inline-block;
  padding: 15px 40px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #FFFFFF;
  background-color: #00d2db;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #fff;
}

.button:hover {background-color: #00bdc4}

.button:active {
  background-color: #00bdc4;
  box-shadow: 0 5px;
  transform: translateY(4px);
}
